
@media (max-width: 768px) {
nav div ul li a {
    display: none;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header {
    grid-template-columns: 1fr;
  }
  header img {
    width: 80%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border: none;
  }
  main{
  grid-template-columns: 1fr;
  }
  .servicios {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: medium;
}
}
@media (max-width: 480px) {
  nav div ul li a {
    display: none;
  }
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  display: grid;
  grid-template-columns: 1fr;
}
header img {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  padding


}
.servicios {
  display: grid;
  grid-template-columns: 1fr ;
  margin: 15px;
  gap: 20px;
}
}