
@media (max-width: 768px) {
nav div ul li a {
    display: none;
  }
  .logo {
    display: flexbox;
    justify-content: center;
    align-items: center;
  }
  header {
    grid-template-columns: 1fr;
  }
}